
        <!-- Navbar Start -->
        <nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top px-4 px-lg-5 py-lg-0">
            <a href="/" class="navbar-brand">
                <h1 class="m-0 text-primary"><i class="fa fa-book-reader me-3"></i>Brainy</h1>
            </a>
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav mx-auto">
                    <a href="/" class="nav-item nav-link active">Home</a>
                    <a href="/about" class="nav-item nav-link">About Us</a>
                    <a href="/classes" class="nav-item nav-link">Subjects</a>

                    {% if request.user.is_authenticated %}
                    {% if request.user.is_superuser %}
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Account</a>
                        <div class="dropdown-menu rounded-0 rounded-bottom border-0 shadow-sm m-0">
                            <a href="/admin" class="dropdown-item">Admin</a>
                            <a href="/logout" class="dropdown-item">logout</a>
                        </div>
                    </div>
                    {% else %}
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Account</a>
                        <div class="dropdown-menu rounded-0 rounded-bottom border-0 shadow-sm m-0">
                            <a href="/leaderboard" class="dropdown-item">Leader Board</a>
                            <a href="/logout" class="dropdown-item">Logout</a>
                        </div>
                    </div>
                    {% endif %}
                    {% endif %}
                    <a href="/contact" class="nav-item nav-link">Contact Us</a>
                </div>
                {% if request.user.is_authenticated %}
                {% else %}
                <a href="/register" class="btn btn-primary rounded-pill px-3 d-none d-lg-block">Join Us<i class="fa fa-arrow-right ms-3"></i></a>
                {% endif %}
            </div>
        </nav>
        <!-- Navbar End -->
