{% extends "base.html" %}

{% load static %}

{% block content %}
<style>
    .page-header {
        background: linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), url('{% static 'img/image1.jpg' %}') center center no-repeat;
        background-size: cover;
    }
</style>
<!-- Page Header End -->
<div class="container-xxl py-5 page-header position-relative mb-5">
    <div class="container py-5">
        <h1 class="display-2 text-white animated slideInDown mb-4">About Us</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item text-white active" aria-current="page">About Us</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->


<!-- About Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <h1 class="mb-4">About</h1>
                <p>"Welcome to our world of learning and creativity! At Brainy, we're dedicated to providing a fun and enriching online experience for kids. Our mission is to inspire curiosity, ignite imaginations, and foster a love for learning through engaging educational content and cultural activities.</p>
                <p class="mb-4">Through a blend of interactive lessons, captivating stories, and hands-on projects, we strive to make learning enjoyable and accessible for children of all ages. Whether it's exploring science, history, art, or world cultures, our platform offers a diverse range of opportunities for young minds to grow and thrive.</p>
                <p class="mb-4">Delve into the wonder of our engaging work and cultural activities! From captivating storytelling to hands-on crafts and virtual tours, there's something for every young explorer here. Uncover the secrets of history, ignite your creativity with art projects, and join us on a journey through diverse cultures and traditions. Let's spark curiosity and learning together!"</p>
            </div>
            <div class="col-lg-6 about-img wow fadeInUp" data-wow-delay="0.5s">
                <div class="row">
                    <div class="col-12 text-center">
                        <img class="img-fluid w-75 rounded-circle bg-light p-3" src="{% static 'img/abt1.jpg' %}" alt="">
                    </div>
                    <div class="col-6 text-start" style="margin-top: -150px;">
                        <img class="img-fluid w-100 rounded-circle bg-light p-3" src="{% static 'img/abt2.jpg' %}" alt="">
                    </div>
                    <div class="col-6 text-end" style="margin-top: -150px;">
                        <img class="img-fluid w-100 rounded-circle bg-light p-3" src="{% static  'img/abt3.jpg' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->


<!-- Call To Action Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="bg-light rounded">
            <div class="row g-0">
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s" style="min-height: 400px;">
                    <div class="position-relative h-100">
                        <img class="position-absolute w-100 h-100 rounded" src="{% static 'img/call-to-action.jpg' %}" style="object-fit: cover;">
                    </div>
                </div>
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                    <div class="h-100 d-flex flex-column justify-content-center p-5">
                        <h1 class="mb-4">Mission</h1>
                        <p class="mb-4">"Our mission at Brainy is to empower young learners with the tools and inspiration they need to thrive in an ever-changing world. We aim to cultivate a love for learning, foster creativity, and promote cultural understanding through engaging online experiences. By providing accessible and interactive educational content, we strive to spark curiosity, ignite imaginations, and instill a lifelong passion for discovery. Our goal is to empower children to explore, learn, and grow into confident, compassionate, and globally-minded individuals who are eager to make a positive impact on the world around them."
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Call To Action End -->

<!-- Call To Action Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="bg-light rounded">
            <div class="row g-0">
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                    <div class="h-100 d-flex flex-column justify-content-center p-5">
                        <h1 class="mb-4">Vision</h1>
                        <p class="mb-4">"At Brainy, our vision is to become the premier online destination for children's education and cultural exploration. We envision a world where every child has access to enriching learning experiences that inspire curiosity, foster creativity, and promote cross-cultural understanding. Through our innovative platform, we aspire to be a trusted resource that empowers young minds to unleash their full potential and shape a brighter future. By combining cutting-edge technology with rich, immersive content, we aim to create a global community of lifelong learners who are equipped with the knowledge, skills, and empathy needed to thrive in the 21st century and beyond."</p>
                    </div>
                </div>
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s" style="min-height: 400px;">
                    <div class="position-relative h-100">
                        <img class="position-absolute w-100 h-100 rounded" src="{% static 'img/call-to-action2.jpg' %}" style="object-fit: cover;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Call To Action End -->
{% include "includes/footer.html" %}
{% endblock content %}