{% extends "base.html" %}

{% load static %}

{% block content %}
 <!-- Page Header End -->
 <div class="container-xxl py-5 page-header position-relative mb-5">
    <div class="container py-5">
        <h1 class="display-2 text-white animated slideInDown mb-4">Course Details</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item text-white active" aria-current="page">{{ subject.title }}</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->


<!-- About Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <h1 class="mb-4">{{ subject.title }}</h1>
                <p>{{ subject.details }}</p>
            </div>
            <div class="col-lg-6 about-img wow fadeInUp" data-wow-delay="0.5s">
                <div class="row">
                    <div class="col-12 text-center">
                        <img class="img-fluid w-100 bg-light p-3" src="{{ subject.image.url }}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->

<!-- Call To Action Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="bg-light rounded">
            <div class="row g-0">
                <div class="col-lg-8 wow fadeIn" data-wow-delay="0.5s">
                    <div class="h-100 d-flex flex-column justify-content-center p-5">
                        <h1 class="mb-4">Course Objectives</h1>
                        <p class="mb-4">{{ subject.objectives | safe }}</p>
                    </div>
                </div>
                <div class="col-lg-4 wow fadeIn" data-wow-delay="0.1s" style="min-height: 400px;">
                    <div class="position-relative h-100">
                        <img class="position-absolute w-100 h-100 rounded" src="{% static 'img/objectives.jpg' %}" style="object-fit: cover;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Call To Action End -->
<div class="container">
    <div class="">
        <h2>Course Topics</h2>
    </div>
    <div class="accordion" id="accordionExample">

      {% for lesson in lessons %}
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#{{lesson.id}}" aria-expanded="true" aria-controls="{{lesson.id}}">
            {{ lesson.title }}
          </button>
        </h2>
        <div id="{{lesson.id}}" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
          <div class="accordion-body bg-white">
            {{ lesson.description}}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
      <div class="text-center mt-4">

        {% if request.user.is_authenticated %}
        <a class="btn btn-primary rounded-pill py-3 px-5" href="{% url 'learn' subject.id %}">Learn</a>
        {% else %}
         <a class="btn btn-primary rounded-pill py-3 px-5" href="/login">Learn</a>
        {% endif %}
      </div>
</div>


{% include "includes/footer.html" %}
{% endblock content %}