{% extends "base.html" %}
{% load static %}

{% block titel %}{% endblock titel %}

{% block content %}
<!-- Facilities Start -->
<style>
    .text-phone{
        display: none;
    }
    @media screen and (max-width: 768px)  {
        .gone{
            display: none;
        }
        .text-phone{
            display: block;
        }
    }
</style>
<div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
    <h1 class="mb-3">Our Leaderboard</h1>
    <p>.</p>
</div>
<div class="bg-light rounded container mt-5">
    <div class="row g-0">
        <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
            <div class="h-100 d-flex flex-column justify-content-center p-4 login-form" style="margin-top: 0px;">
                <h1 class="mb-3 text-center">Leaderboard</h1>
                <div class="text-center gone"><i class="bi bi-trophy-fill" style="font-size: 15rem; color: gold;"></i></div>
            </div>
        </div>
        <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s" style="min-height: 400px;">
            <div class="position-relative h-100">
                <ol class="list-group list-group-numbered mt-4">

                    {% if scores %}
                    {% for top  in scores %}
                    <li class="list-group-item">{{ top.user }} {{ top.score }}</li>
                    {% endfor %}
                    {% else %}
                    <div class="text-center">
                        <h1 class="mt-5 p-5">No Tests Taken yet</h1>
                    </div>

                    {% endif %}

                  </ol>

                  {% if scores %}
                  <nav aria-label="Page navigation example">
                    <ul class="pagination mt-5">
                      <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                      <li class="page-item"><a class="page-link" href="#">1</a></li>
                      <li class="page-item"><a class="page-link" href="#">2</a></li>
                      <li class="page-item"><a class="page-link" href="#">3</a></li>
                      <li class="page-item"><a class="page-link" href="#">Next</a></li>
                    </ul>
                  </nav>
                  {% endif %}
            </div>
        </div>
    </div>
</div>
{% include "includes/footer.html" %}
{% endblock content %}